@import "tailwindcss";

:root {
  background: #0b0d0f;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0b0d0f;
  color: white;
}

* {
  box-sizing: border-box;
}